html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
    display: flex;
    height: 100%;
}

.popup-container {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.popup-window {
    display: none;
    background: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 5px;
}
.active {
    display: flex;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: lightgray;
    padding: 10px;
    font-weight: 550;
    align-items: center;
    min-width: 150px;
}
.sidebar-project {
    background: gray;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 125px;
}
.sidebar-project-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-title {
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid black;
    padding: 10px;
}
.sidebar-new-project-button {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 2px;
    margin: 0;
    width: 20px;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}
.project-tab-active {
    display: flex !important;
    background: white;
    justify-content: center;
    align-items: center;
}
.project-content-active {
    display: flex !important;
}
.project-details-container {
    display: none;
    flex-direction: column;
    width: 100%;
}

.project-details-title {
    padding: 15px 0 15px 0;
    font-size: 30px;
    font-weight: 550;
}
.todo-container {
    width: 100%
}
.todo-title {
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 10px;
    font-weight: 550;
}
.individual-task-container {
    display: flex;
    gap: 10px;
    padding: 10px 50px 10px 0;
    justify-content: space-between;
}
.task-firsthalf-container {
    display: flex;
    gap: 10px;
}
.task-secondhalf-container {
    display: flex;
    gap: 10px;
}
.project-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.project-details-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
img {
    width: 15px;
    height: auto;
}
.task-container {
    padding-left: 25px;
    width: 100%;
}
.new-task-button {
    margin-left: 25px;
    margin-top: 10px;
    width: 20px;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}