html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
    display: flex;
    height: 100%;
    gap: 10px; 
}

.popup-container {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.popup-window {
    display: none;
    background: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 5px;
}
.active {
    display: flex;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: lightgray;
    padding: 10px;
    font-weight: 550;
    align-items: center;
    min-width: 150px;
}
.sidebar-project {
    background: gray;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 125px;
}
.sidebar-project-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-title {
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid black;
    padding: 10px;
}
.sidebar-button {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 2px;
    margin: 0;
    width: 20px;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}
.project-tab-active {
    display: flex !important;
    background: white;
    justify-content: center;
    align-items: center;
}
.project-content-active {
    display: flex !important;
}
.project-details-container {
    display: none;
    flex-direction: column;
}